<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/391827d54c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen w-screen px-5 py-5">
  <div class="main-container h-full w-full">
    <div  class="left-container relative w-[30vw] border-r border-slate-700">
      <div id="overlay" tabindex="0" class="overlay h-full w-full bg-slate-500 z-[999] left-[-100%] absolute ">
      
      </div>

<!--header -->
      <div class="relative header w-full flex justify-between py-8">
        <div class="flex justify-between items-center gap-3" >
          <div id="openProfile" class="user-img w-10 h-10 rounded-full">
            <img class="dp object-cover h-full w-full" src="<%= user.image %>" alt="">
          </div>
          <p class="text-slate-300 capitalize"><%= user.displayName %></p>
        </div>
        <div class="nav-icons flex items-center w-1/4 ">
          <li><i class="group fa-solid fa-users text-slate-400"></i></li>
          <li><i class="ri-loader-3-line status text-slate-400 font-medium text-2xl"></i></li>
          <li><i class="fa-solid fa-message text-slate-400"></i></li>
          <li><i class="menu fa-solid fa-ellipsis-vertical text-slate-400" aria-expanded="true" aria-haspopup="true" id="menu-button"></i></li>
          <div class="dropdown relative text-left hidden ">
            <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-[#233138] shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
              <div class="py-1 " role="none">
                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                <p class="text-[#CCD2D6] hover:bg-[#182229] block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">New Group</p>   
                <!-- <p class="text-[#CCD2D6] hover:bg-[#182229] block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Profile</p>    -->
                <a href="/logout" class="text-[#CCD2D6] hover:bg-[#182229] block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="display: none;" class="groupDiv flex gap-5 items-center">
        <input class="groupInput rounded-xl bg-[#202C33] ml-3 mt-2 outline-none text-slate-400 px-3 py-2 text-xs" placeholder="Enter Group Name" type="text">
        <button class="groupButton px-2 py-1 rounded-full bg-[#00A884] font-bold" ><i class="ri-check-fill"></i></button>
      </div>

<!-- notification -->
      <!-- <div class="notif-box">
        <i class="fa-solid fa-bell-slash"></i>
        <div class="notif-text">
             <p>Get Notified of New Messages</p>
             <a href="#">Turn on Desktop Notifications ›</a>
            </div>
        <i class="fa-solid fa-xmark"></i>
      </div> -->

<!--search-container -->
      <div class="search-container w-full">
        <div class="input">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Search or start new chat">
        </div>
        <i class="ri-filter-3-line"></i>
      </div>

<!--cha ts -->
      <div class="chat-list">
        <% if (user.chattedUsers) { %>
          <% user.chattedUsers.forEach((chat) => { %>
            <div id="shery_<%= chat._id %>" class="chat-box" text-slate-400 onclick="openChat('<%= chat.image %>','<%= chat.displayName %>','<%= chat._id %>')">
              <div class="img-box">
                  <img class="img-cover object-cover h-full w-full" src="<%= chat.image %>" alt="">
              </div>
              <div class="chat-details">
                  <div class="text-head">
                  <h4><%= chat.displayName %></h4>
                  </div>
                  <div class="text-message">
                  <p></p>
                  </div>
              </div>
          </div>
          <% }) %>
        <% } %>
      </div>

    </div>

    <div class="right-container hidden relative outline-none">
      <div class="addUserOverlay hidden px-3 py-2 h-[45%] w-1/3 overflow-hidden bg-[#233138] text-[#dadada] rounded-lg shadow-xl absolute z-[9999] right-[14%] top-12"> 
        <div class="w-full mb-2 flex items-center justify-between">
          <h2 class="text-xl mt-1 font-medium mb-2">Add Members</h2>
          <button id="addMembers" class="py-1.5 px-3 text-sm rounded-full bg-green-600 opacity-70">Add</button>
        </div>
        <div class="mb-3 w-full flex bg-[#111B21] rounded-lg overflow-hidden items-center justify-between">
          <input type="text" id="addMemInput" class="bg-[#111B21] w-5/6 px-3 py-2 text-sm" style="outline: none;" placeholder="Search">
          <div class="flex justify-center items-center w-1/6">
            <i class="clear-search ri-close-line text-2xl text-slate-400"></i>
          </div>
        </div>
        <div id="userList"  class="h-[70%] w-full divide-y-2 overflow-y-scroll overflow-x-hidden divide-gray-700">
        </div>
      </div>
<!--header -->
      <div class="header">
        <div class="img-text">
          <div class="user-img w-10 rounded-full">
            <img class="dp talker h-9 relative w-full object-cover" src="https://images.pexels.com/photos/2474307/pexels-photo-2474307.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
          <h4 class="talker-name">Leo<br><span>Online</span></h4>
        </div>
        <div class="nav-icons">
          <li><i class="addUser font-medium text-xl ri-user-add-line"></i></li>
          <li><i class="fa-solid fa-magnifying-glass"></i></li>
          <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
        </div>
      </div>

<!--chat-container -->
      <div class="chat-container">
       
      </div>

<!--input-bottom -->
      <div class="chatbox-input">
        <i class="fa-regular fa-face-grin"></i>
        <i class="fa-sharp fa-solid fa-paperclip"></i>
        <input type="text" class="msg" placeholder="Type a message">
        <i class="fa-solid fa-microphone"></i>
      </div>
    </div>

  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    let loggedInUsername = '<%= user.username %>';
    let loggedInUser = '<%= user._id %>'
    let loggedInUserImage = '<%= user.image %>';
    let loggedInUserAlias = '<%= user.displayName %>';
  </script>
 <script src="/javascripts/socketClient.js"></script>
 <script src="/javascripts/chatFunctions.js"></script>
 <script src="/javascripts/eventListners.js"></script>
</body>
</html>